@import '~antd/dist/antd.css';

.siderImage{
    background-image: url("../images/15021.jpg");
    background-size: cover;
    height: 100%;
}
.sider{
    width: 45%;
    box-shadow: 0px 0px 10px 10px rgb(206, 217, 221);
}
.submit-button{
    width: 150px;
    box-shadow: 0px 2px 8px 3px rgb(206, 217, 221);
}
.center-text{
    text-align: center;
    padding-top: 5px;
}
.profile-bg{
    background: linear-gradient(#002766, #0265c2);
    height: 30%;
    color: white;
}
.content-body{
}
.center-item{
    display: flex;
    justify-content: center;
    width: 100%;
}
.title-text{
    color: #1890FF;
    font-size: xx-large;
}
.content-head{ 
    display: flex;
    background-color:white;
    justify-content:space-between;
    align-items:center;
    height: 50px;
    padding-top: 10px;
}
.user-item{
    display: flex;
    padding:20px;
    border: #ccd0d6 solid 1px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.item-data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
}
body{
    overflow: hidden;
    height: 100%;
}
.modal-header{
    height: 450px;
    padding: 20px;
}
.icon-button{
    width: fit-content;
    border-radius: 50%;
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.inline-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.search-error{
    background-image: url("../images/searchError.jpg");
    background-size: 500px, 500px;
    height: 100px;
    background-repeat: no-repeat;
}
.call-body{
    min-height: 90vh;
    height:100%;
    width:100%;
}
.wrap-list{
    flex-wrap: wrap;
}
.call-card{
    border:1px solid white;
    padding:20px;
    border-radius: 10px;
}
.floating-actions{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: rgba(51, 53, 54, 0.712);
    bottom: 20%;
    left: 38%;
}
.floating-action-btn{
    padding-top:10px; 
    height:50px;
    width:50px; 
    margin: 5px;
    font-size:30px; 
}
.capitalize{
    text-transform: capitalize;
    margin-top: 5px;
}